.file-upload-block{
    margin-top: 15px;
    padding-top: 15px;
}

/* home.html */
.card-description{
    font-size: 1.25rem;
}
.card-header{
    font-size: 1.5rem;
    text-align: center;
}

/* base.html */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }